{%- liquid
  unless limit
    assign limit = main_menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}

{%- liquid
      # Find the subcollection (one that has a parent)
      assign subcollection = nil
      assign parent_collection = nil
      
      for c in product.collections
        if c.metafields.custom.parent_collection != blank
          assign subcollection = c
          assign parent_collection = c.metafields.custom.parent_collection.value
          break
        endif
      endfor
      
      # If no subcollection found, use the first collection
      if subcollection == blank
        assign current_collection = product.collections | first
      else
        assign current_collection = subcollection
      endif
    -%}
    {% assign current_collection_parent=collection.metafields.custom.parent_collection.value %}


<ul class="flex flex-wrap{% unless section.settings.hover_menu %} gap-1{% endunless %} list-menu with-{{ section.settings.menu_active }}">
  {%- for link in main_menu.links limit: limit offset: offset -%}
    {%- liquid
      assign enable_mega_menu = false
      assign mega_menu_block = nil
      assign link_title_handle = link.title | downcase | handle

      for block in section.blocks
        assign menu_title_handle = block.settings.menu_title | downcase | handle
        if menu_title_handle == link_title_handle
          assign enable_mega_menu = true
          assign mega_menu_block = block
          break
        endif
      endfor
    -%}
    {%- if enable_mega_menu -%}
      <li>
        <details  is="details-mega" trigger="{% if section.settings.hover_menu %}hover{% else %}click{% endif %}" level="top" {{ mega_menu_block.shopify_attributes }}>
          <summary data-link="{{ link.url }}" class="z-2 relative{% if section.settings.menu_active == 'block' %} rounded-full{% endif %}">
            <button  type="button" class="menu__item {% if current_collection_parent.title == link.title %}active_menu_item{% endif %} {% if link.active or parent_collection.title == link.title %}active_menu_item {% endif %} text-sm-lg flex items-center font-medium z-2 relative cursor-pointer"{% unless section_rendering_api %} is="api-magnet-button" data-id="HeaderNavMega-{{ section.id }}-{{ forloop.index }}-{{ dir }}" data-section-id="{{ section.id }}"{% else %} is="magnet-button"{% endunless %}{% if section.settings.menu_active == 'block' %} data-magnet="0"{% endif %} tabindex="-1">
              <span class="btn-text" data-text>
                {%- liquid
                  echo link.title
                  unless section.settings.hover_menu
                    render 'icon', icon: 'chevron-menu'
                  endunless
                -%}
              </span>
              {%- if section.settings.menu_active == 'block' -%}
                <span class="btn-text btn-duplicate">
                  {%- liquid
                    echo link.title
                    unless section.settings.hover_menu
                      render 'icon', icon: 'chevron-menu'
                    endunless
                  -%}
                </span>
              {%- endif -%}
            </button>
          </summary>
          <div class="mega-menu absolute top-0 left-0 w-full max-w-full overflow-hidden pointer-events-none">
            {%- render 'header-nav-mega', link: link, block: mega_menu_block, full_width: section.settings.full_width, position: forloop.index, dir: dir -%}
          </div>
        </details>
      </li>
    {%- elsif link.links != blank -%}
      <li>
        <details is="details-dropdown" trigger="{% if section.settings.hover_menu %}hover{% else %}click{% endif %}" level="top">
          <summary data-link="{{ link.url }}" class="z-2 relative{% if section.settings.menu_active == 'block' %} rounded-full{% endif %}">
            <button  type="button" class="menu__item {% if link.active or parent_collection.title == link.title %}active_menu_item {% endif %} text-sm-lg flex items-center font-medium z-2 relative cursor-pointer" is="magnet-button"{% if section.settings.menu_active == 'block' %} data-magnet="0"{% endif %} tabindex="-1">
              <span class="btn-text" data-text>
                {%- liquid
                  echo link.title
                  unless section.settings.hover_menu
                    render 'icon', icon: 'chevron-menu'
                  endunless
                -%}
              </span>
              {%- if section.settings.menu_active == 'block' -%}
                <span class="btn-text btn-duplicate">
                  {%- liquid
                    echo link.title
                    unless section.settings.hover_menu
                      render 'icon', icon: 'chevron-menu'
                    endunless
                  -%}
                </span>
              {%- endif -%}
            </button>
          </summary>
          <div id="DropdownMenu-{{ section.id }}-{{ forloop.index }}-{{ dir }}" class="dropdown opacity-0 invisible absolute top-0 max-w-full pointer-events-none">
            <div class="dropdown__container relative">
              {%- render 'corner', dir: 'top', prefix: 'dropdown' -%}
              <ul class="dropdown__nav flex flex-col gap-1d5 xl:gap-2" role="list">
                {%- for childlink in link.links -%}
                  {%- if childlink.links != blank -%}
                    <li class="opacity-0 relative">
                      <details is="details-dropdown" trigger="{% if section.settings.hover_menu %}hover{% else %}click{% endif %}" level="child">
                        <summary data-link="{{ childlink.url }}">
                          <a href="{{ childlink.url }}" class="reversed-link text-sm-base" tabindex="-1">{{ childlink.title }}</a>
                        </summary>
                        <div class="dropdown opacity-0 invisible absolute top-0 left-100 max-w-full pointer-events-none">
                          <div class="dropdown__container">
                            <ul class="dropdown__nav flex flex-col gap-1d5 xl:gap-2" role="list">
                              {%- for grandchildlink in childlink.links -%}
                                <li class="opacity-0">
                                  <p>
                                    <a href="{{ grandchildlink.url }}" class="reversed-link text-sm-base">{{ grandchildlink.title }}</a>
                                  </p>
                                </li>
                              {%- endfor -%}
                            </ul>
                          </div>
                        </div>
                      </details>
                    </li>
                  {%- else -%}
                    <li class="opacity-0">
                      <p>
                        <a href="{{ childlink.url }}" class="reversed-link text-sm-base">{{ childlink.title }}</a>
                      </p>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </details>
      </li>
    {%- else -%}
      <li  {% if forloop.index == 1 %}class="home__icon" {% endif %} >
        <a  href="{{ link.url }}" class="menu__item {% if link.active or parent_collection.title == link.title %}active_menu_item {% endif %} text-sm-lg flex items-center font-medium z-2 relative cursor-pointer" is="magnet-link"{% if section.settings.menu_active == 'block' %} data-magnet="0"{% endif %}>
          <span class="btn-text {% if link.active %}activate{% endif %}" data-text>
            {% if forloop.index == 1 %}
            <svg class="icon icon-home icon-sm" viewBox="0 0 20 21" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18.333 14.667v-3.713c0-1.355 0-2.033-.165-2.66a5 5 0 0 0-.818-1.702c-.387-.521-.916-.945-1.974-1.791l-.378-.303h0c-1.784-1.427-2.676-2.14-3.665-2.414a5 5 0 0 0-2.666 0c-.99.274-1.881.987-3.665 2.414h0l-.378.303c-1.058.846-1.587 1.27-1.974 1.79a5 5 0 0 0-.818 1.703c-.165.627-.165 1.305-.165 2.66v3.713a4.167 4.167 0 0 0 4.166 4.166c.92 0 1.667-.746 1.667-1.666v-3.334a2.5 2.5 0 0 1 5 0v3.334c0 .92.746 1.666 1.667 1.666a4.167 4.167 0 0 0 4.166-4.166Z"></path>
            </svg>
            {% else %}
          {{ link.title }}
            {% endif %}
          </span>
          {% if forloop.index != 1 %}
          {%- if section.settings.menu_active == 'block' -%}
            <span class="btn-text btn-duplicate">{{ link.title }}</span>
          {%- endif -%}  
         {% endif %}
        </a>
      </li>
    {%- endif -%}
  {%- endfor -%}
</ul>
